nav {
    background-color: #4180ab;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#prueba {
    margin: 2px;
    font-family: 'comic sans ms';
    color: #FFFFFF !important;
    font-size: 12px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #4178F9;
    padding: 10px 15px 7px 9px;
    border-radius: 10px;
    border: 4px outset #3264D9;
    background: #2B72FF;
    background: linear-gradient(to top, #2B72FF, #2DB5B1);
}

    #prueba:hover {
        color: #FCFCFC !important;
        background: #2DB5B1;
        background: linear-gradient(to top, #2DB5B1, #2B72FF);
    }

#prueba2 {
    font-family: 'comic sans ms';
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 13px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #4178F9;
    padding: 7px 7px;
    border-radius: 10px;
    border: 5px outset #000000;
    background: #6E0000;
    background: linear-gradient(to top, #6E0000, #FF0000);
}

    #prueba2:hover {
        color: #FCFCFC !important;
        background: #FF0000;
        background: linear-gradient(to top, #FF0000, #6E0000);
    }

.mi-boton {
    color: #FFFFFF !important;
}
