<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Titulo"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp_presentacion.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="img/Logo.png" />
    <link rel="icon" type="image/png" href="../img/Logo.png" /> 

</head>
<body>
    <header>
        <div id="barra">
            @if (ViewData["MostrarNav"] as bool? != false)
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"> 
                    <div class="container">
                        @if (ViewData["MostrarLogo"] as bool? == true)
                        {
                            <img src="~/img/Logo.png" alt="Logo" width="50" height="50" />
                        }
                        <a class="navbar-brand" >Veterinaria Peluditos</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            @{
                                var rol = Context.Session.GetString("Rol");
                            }
							<ul class="navbar-nav flex-grow-1">

								<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a></li>

                                @if (rol == "Cliente")
                                {
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Historiales_Clinicos">Historiales Clinicos</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Formulas">Formulas</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Formulas_Medicamentos">Formulas Recetadas</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Mascotas">Mascotas</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Veterinarios">Veterinarios</a></li> @*todas solo ver*@
                                }

                                @if (rol == "Veterinario")
                                {
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Historiales_Clinicos">Historiales Clinicos</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Formulas">Formulas</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Formulas_Medicamentos">Formulas Recetadas</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Clientes">Clientes</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Mascotas">Mascotas</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Medicamentos">Medicamentos</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Razas">Razas</a></li>
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Veterinarios">Veterinarios</a></li> @* solo ver *@
                                }

                                @if (rol == "Administrador")
                                {
                                    <li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Historiales_Clinicos">Historiales Clinicos</a></li>
									<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Formulas">Formulas</a></li>
									<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Formulas_Medicamentos">Formulas Recetadas</a></li>
									<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Veterinarios">Veterinarios</a></li>
									<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Clientes">Clientes</a></li>
									<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Medicamentos">Medicamentos</a></li>
									<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Mascotas">Mascotas</a></li>
									<li class="nav-item" id="prueba"><a class="nav-link text-white" asp-area="" asp-page="/Ventanas/Razas">Razas</a></li>
                                }

                            </ul>
                        </div>



                        @if (ViewData["MostrarCerrarSesion"] as bool? != false)
                        {
                            <div id="prueba2">
                                <center>
                                    <form method="POST">
                                        <input type="submit"
                                        value="Cerrar Sesión"
                                        asp-page-handler="BtClose"
                                               class="btn mi-boton" style="color: white;"  />
                                    </form>

                                </center>
                            </div>

                        }

                    </div>
                </nav>

            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <h6>&copy; 2025 - Veterinaria Peluditos </h6>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>