@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>Nuestra primera pagina web</h2>
    <h3><i>Mensaje</i></h3>
</div>
