@page
@model IndexModel
@{
    ViewData["Titulo"] = "Pagina Principal";
    ViewData["MostrarLogo"] = true;
}

@if (!Model.EstaLogueado)
{
   ViewData["MostrarCerrarSesion"] = false;
   ViewData["MostrarNav"] = false;
   <br />
   <br />
   <br />
    <div class="container"
         align="left"
		 style="width:100%">
		<center>
            <div>
                <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
                    <img src="img/Logo.png" width="150" height="150" alt="Logo" />
                    <p style="color: white; margin-top: 10px; font-size: 24px;">Veterinaria Peluditos</p>
                </div>
      </div>
      <br />
            <div style="background-color: #bdd1de; width: 500px; height: 300px; display: flex; 
align-items: center;
justify-content: center; 
 border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <br />

                <h3>
                    Login
                </h3>
<center>
                    <form method="POST">
                        <div style="width:60%">
                            <div class="form-group">
                                <label class="control-label">
                                    Usuario:
                                </label>
                                <input onchange="keyUp(this)"
                                       asp-for="@Model.Email"
                                       class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Contrasena:
                                </label>
                                <input type="password"
                                       onchange="keyUp(this)"
                                       asp-for="@Model.Contrasena"
                                       class="form-control" />
                            </div>

                            <input type="submit"
                                   value="Limpiar"
                                   asp-page-handler="BtClean"
                                   class="btn btn-default" />
                            <input type="submit"
                                   value="Entrar"
                                   asp-page-handler="BtEnter"
                                   class="btn btn-default" />
                        </div>
                    </form>

        </center>
            </div>
        </center>

    </div>

}
else
{
    <br />
    <div class="text-center">
       
        <h1 class="display-4">
            Bienvenido
        </h1>
        <br />

        <h2>Descripcion General</h2>
        <h3>Este proyecto tiene como objetivo desarrollar un sistema de base de datos para la gestión de la Clínica Veterinaria Peluditos, permitiendo organizar y administrar eficientemente la información de clientes, mascotas, veterinarios, historiales clínicos, medicamentos y formulas. </h3>
        <br />
        <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Logo.png" width="150" height="150" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Veterinaria Peluditos</p>
        </div>
        <br />
        <br />

        <h2>Personas Encargadas del proyecto</h2>
        <h3>Ahora veremos algunas personas encargadas y/o involucradas en todo el proceso de este proyecto</h3>
        <br />
    </div>

    <br />
    <div class="text-center">
        <h2>Desarrolladores principales</h2>
        <br />
        <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Federico.jpeg" width="300" height="300" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Federico Ospina Cardona</p>
        </div>
        <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Valentina.jpeg" width="270" height="300" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Valentina Cuartas Arias</p>
        </div>
        </div>
        <br />
    <div class="text-center">
        <h2>Docente Encargado</h2>
            <br />
        <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Andres.jpeg" width="250" height="300" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Andres Felipe Albanes Gaviria</p>
        </div>
        </div>
        <br />
    <div class="text-center">
        <h2>Colaboradores externos o indirectos</h2>
            <br />
        <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Mariana.jpeg" width="140" height="230" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Mariana Vega Gutierrez</p>
        </div>
                <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Diego.jpeg" width="230" height="230" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Juan Diego Perez Perez</p>
        </div>
                <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Karen.jpeg" width="140" height="230" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Karen Jimenez Lopez</p>
        </div>
        <div style="background-color: #8ab3cf;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: inline-block;">
            <img src="img/Samuel.jpeg" width="160" height="230" alt="Logo" />
            <p style="color: white; margin-top: 10px; font-size: 24px;">Samuel Esteban Zea Cardona</p>
        </div>
        </div>
}
